.question__shelf {
    width: 95%;
    display: flex;
    border-radius: 5px;
    padding: 20px 30px;
    margin-top: 20px;
    box-shadow: 1px 1px 10px 1px #d5d5d5;

}

.question_avatar {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    background-color: coral;
    margin-top: 10px;
}

.question {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.link_wrapper {
    text-decoration: none;
    color: #111;
}